


.top-nav-container {
  display: flex;
}

.home-header {
  background-image: url("./images/iron-glory-background.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header h1 p {
  color: #464547;
  text-transform: uppercase;
}

.header-text {
  display: flex;
  flex-direction: column;
}
